page-home {
  textarea {
    resize: vertical;
    min-height: 15vh;
  }
  pre{
    font-family: monospace;
    user-select: text;
  }
  .newRow {}
  .lyricsBody {
    font-size: small;
    line-height: 1.5em;
  }
  .lyricsMeta {
    font-size: medium;
    margin-top: 3vh;
  }
  .songTitle {
    padding-top: 1em;
    font-size: large;
  }
}