<ion-content padding-horizontal margin-horizontal>
  <ion-grid padding-horizontal>
    <ion-row class="newRow">
      <ion-col col-8>
        <ion-item>
          <ion-input [(ngModel)]="title" (input)="generateJSON()" placeholder="Song title here"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea placeholder="Enter Lyrics" [(ngModel)]="lyricsInput" (input)="generateJSON()"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item>
          <ion-input placeholder="Artist(s) names" [(ngModel)]="artist" (input)="generateJSON()"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select [(ngModel)]="category" multiple="true">
            <ion-option value="action_songs">Action songs</ion-option>
            <ion-option value="holy_mass">Holy Mass</ion-option>
            <ion-option value="holy_spirit">Holy Spirit</ion-option>
            <ion-option value="ice_breaker">Ice breaker</ion-option>
            <ion-option value="joy">Joy</ion-option>
            <ion-option value="love">Love</ion-option>
            <ion-option value="praise">Praise</ion-option>
            <ion-option value="thanks">Thanks</ion-option>
            <ion-option value="other_songs">Other songs</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Program</ion-label>
          <ion-select [(ngModel)]="program" multiple="true">
            <ion-option>kids</ion-option>
            <ion-option>preteens</ion-option>
            <ion-option>teens</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <br><br>
    <ion-row class="newRow">
      <ion-col col-6>
        <ion-item>
          <p>
            JSON Output
          </p>
          <button ion-button>Copy</button>
        </ion-item>
        <ion-item no-lines text-wrap>
          <pre>
            {{ contents| json}}
          </pre>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <p>
            Rendered Output
          </p>
        </ion-item>
        <ion-item no-lines style="user-select: text;">
          <ion-row align-items-center justify-content-center center>
            <h2 ion-text color="primary" class="songTitle">{{title}}</h2>
          </ion-row>
          <ion-row align-items-end *ngFor="let line of contents.lyrics">
            <ng-container *ngIf="line.type == 'line';else notLine">
              <p ion-text text-center text-wrap class="lyricsBody">
                {{line.words}}
              </p>
            </ng-container>
            <ng-template #notLine>
              <ng-container *ngIf="line.type == 'intro'">
                <i ion-text text-wrap color="primary" class="lyricsMeta">Intro</i>
                <hr style="width:100%">
                <hr>
                <p ion-text text-center text-wrap class="lyricsBody">
                  {{line.words}}
                </p>
              </ng-container>
              <ng-container *ngIf="line.type == 'chorus'">
                <i ion-text text-wrap color="primary" class="lyricsMeta">Chorus</i>
                <hr style="width:100%">
                <hr>
                <p ion-text text-center text-wrap class="lyricsBody">
                  {{line.words}}
                </p>
              </ng-container>
              <ng-container *ngIf="line.type == 'nextVerse'">
                <br><br>
                <p ion-text text-center text-wrap class="lyricsBody">
                  {{line.words}}
                </p>
              </ng-container>
              <ng-container *ngIf="line.type == 'line'">
                <p ion-text text-center text-wrap class="lyricsBody">
                  {{line.words}}
                </p>
              </ng-container>
            </ng-template>
          </ion-row>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>